
@using System.Web.Configuration;

@using About;

@{
    ViewBag.Title = "About JimRadio Database Maintenance";
}

<link rel="icon"       type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css"     href="/jimradiomaint/Content/Site.css" />
<link rel="stylesheet" type="text/css"     href="/jimradiomaint/Content/AboutTable.css" />

<h2 class="AccentColor">About JimRadio Database Maintenance</h2>

@Html.Partial("AboutTable.ascx")
